@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background: #1a1a2e;
  color: #fbfaf5;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #16213e;
}

div, p {
  color: #1a1a2e;
}

a {
  color: #16213e;
}

a:hover {
  color: #0f3460;
}

.bg-color {
  background-color: #e94560;
}

.light-text {
  color: fbfaf5 !important;
}

.site-header .navbar-nav .nav-link {
  color: #fbfaf5;
}

.site-header .navbar-nav .nav-link:hover {
  color: #0f3460;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #fbfaf5;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.navbar {
  letter-spacing: 1.5px;
}

.row {
  display: flex;
  justify-content: center;
}

/* .article-title {
  color: #16213e;
}

a.article-title:hover {
  color: #e94560;
  text-decoration: none;
} */

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #16213e;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* layout */
.welcome {
  background-image: url('assets/welcome-image.jpg');
  background-size: 100vw;
  background-position: center;
  /* background-color: #fbfaf5; */
  color: #1a1a2e;
  text-shadow: 3px 0px 6px #fbfaf5;
  border-radius: 0;
  padding: 5rem 5rem;
  letter-spacing: 1.5px;
}

.side-item {
  color: #e94560;
}

/* product */
.primary-button {
  background-image: linear-gradient(to top, #e94560, #ec7a8d);
  /* background-color: #e94560; */
  border-color: #e94560;
  color: #fbfaf5;
}

.primary-button:hover {
  background-color: #cb3d54;
  border-color: #cb3d54;
}

.primary-button.focus, .primary-button:focus {
  box-shadow: 0 0 0 .1rem rgba(15, 52, 96, .5) !important;
  background-color: #e94560;
}

.primary-button:active, .primary-button:visited {
  background-color: #eb2e4d !important;
}

.product-name {
  font-size: 1.5rem;
}

/* orderlist */

.emphasis-text {
  color: #e94560 !important;
}

.danger-button {
  background-image: linear-gradient(to top, #ed173a, #e94560);
  /* background-color: #e94560; */
  border-color: #e94560;
  color: #fbfaf5;
}

.danger-button-inactive {
  background-image: linear-gradient(to top, #afacad, #fbfaf5) !important;
  /* background-color: #e94560; */
  border-color: #afacad;
  color: #fbfaf5;
}

.danger-button:hover {
  background-color: #cb3d54;
  border-color: #cb3d54;
}

.danger-button-inactive:hover {
  background-color: #878686;
  border-color: #878686;
  color: #fbfaf5;
}

.danger-button.focus, .danger-button:focus {
  box-shadow: 0 0 0 .1rem rgba(15, 52, 96, .5) !important;
  background-color: #e94560;
}

.danger-button-inactive.focus, .danger-button-inactive:focus {
  box-shadow: 0 0 0 .1rem rgba(233, 69, 96, .5) !important;
  background-color: #1a1a2e;
}

.danger-button:active, .danger-button:visited {
  background-color: #eb2e4d !important;
}

.danger-button-inactive:active, .danger-button-inactive:visited {
  background-color: #fbfaf5 !important;
}

.active-status {
  display: inline;
  color: #1a1a2e;
}

.cancelled-status {
  display: inline;
  color: #e94560;
}

/* viewcart */
.empty-alert {
  background-color:#d1d1d1;
}

.cart-table {
  background-color: #16213e;
  color: #fbfaf5;
}

/* login and register */
.secondary-button {
  background-image: linear-gradient(to top, #16213e, #0f3460);
  /* background-color: #e94560; */
  border-color: #16213e;
  color: #fbfaf5;
}

.secondary-button:hover {
  background-color: #0f3460;
  border-color: #0f3460;
}

.secondary-button.focus, primary-button:focus {
  /* box-shadow: 0 0 0 .1rem rgba(233, 69, 96, .5) !important; */
  background-color: #0f3460;
}

.secondary-button:active, .primary-button:visited {
  background-color: #0f3460 !important;
}
