{% extends "layout.html" %}
{% block content %}

  <div class="media content-section">
    <div class="media-body">
      <h2> My Account </h2>
      <br/>
      <p><span class="font-weight-bold">Name</span><br/>
        {{current_user.username}}
      </p>
      <p><span class="font-weight-bold">Email</span><br/>
        {{current_user.email}}
      </p>
      <p><span class="font-weight-bold">Account Type</span>
        {% if (current_user.type == 'C') %}
          <p>Customer</p>
        {% elif (current_user.type == 'E') %}
          <p>Employee</p>
        {% else %}
          <p>N/A</p>
        {% endif %}
      </p>
      <!-- <p><span class="font-weight-bold">Account Type</span><br/>
        {{current_user.type}}
      </p> -->
    </div>
  </div>

{% endblock content %}
