<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- <link rel="stylesheet" type="text/css" href="layout.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}"> -->

    <title>e-mart</title>

</head>

<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md bg-color fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4 header-title" href="/">e-mart</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <!-- <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link" href="{{ url_for('orderlist') }}">Order List</a>
              {% endif %} -->
            </div>

            <!-- Navbar Right Side -->
            <div class="nav navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('viewcart') }}">View Cart</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    {% if request.endpoint == 'home' or request.endpoint == 'addtocart' %}
      <div class="jumbotron text-center welcome">
        <h1> Support small business, shop e-mart! </h1>
        <p> Browse our products below </p>
      </div>
    {% endif %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        {% if current_user.is_authenticated %}
        <div class="col-md-4">
            <div class="content-section">
              <h3><span class="font-weight-bold">Hello, </span>{{current_user.username}}</h3>
              <p class='text-muted'>Account Info
                <ul class="list-group">
                  <a class="list-group-item list-group-item-light side-item" href="{{ url_for('account') }}">My Account</a>
                  <a class="list-group-item list-group-item-light side-item" href="{{ url_for('orderlist') }}">My Orders</a>
                  <li class="list-group-item list-group-item-light side-item">My Addresses</li>
                </ul>
              </p>
          </div>
        </div>
        {% endif %}
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
