{% extends "layout.html" %}
{% block content %}
   {% set orderid = namespace(value='0') %}
   {% set rowCount = namespace(value='52')%}

    {% for row in outString %}

      {% if orderid.value != row[0].OrderID %}

        {% if rowCount.value != '52' %}
         </table>
            </div>
            {% if current_user.is_authenticated %}
            <!-- <button onclick="cancelOrder('{{orderid.value}}')"
                {% if (row[0].OrderStatus=="Cancelled - Refund Initiated") %} class="btn btn-danger float-right danger-button-inactive"
                {% elif (row[0].OrderStatus=="Order_Received") %} class="btn btn-danger float-right danger-button"
                {% else %} class="btn btn-danger float-right secondary-button"
                {% endif %}>Cancel Order</button> -->
             <button class="btn btn-danger float-right danger-button" onclick="cancelOrder('{{orderid.value}}');">Cancel Order</button>
            {% endif %}
            </div>
        </article>
        {% endif %}

        <article class="media content-section" >
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2 font-weight-bold" href="#">Order #{{row[0].OrderID}} - Order Submitted On:</a> <span class="text-danger font-weight-bold emphasis-text">- Total Price - ${{row[0].TotalCost}}</span><br/>
              <br/>
              <span class="font-weight-bold">Shipping Cost: </span>${{row[3].ShippingCost}} - <span class="font-weight-bold">Shipping Status: </span>{{row[3].ShippingStatus}} <br/>
              <span class="font-weight-bold">Shipping Address: </span><br/>
              {{row[4].Address1}},<br/>{{row[4].Address2}},<br/>{{row[4].City}},<br/>{{row[4].State}},<br/>{{row[4].Zip}}<br/><br/>
              <span>Order Status:</span>
              <div {% if (row[0].OrderStatus=="Cancelled - Refund Initiated") %} class="cancelled-status"
                {% else %} class="active-status"
                {% endif %}>{{row[0].OrderStatus}}</div><br/>


              <table class="table table-dark table-striped table-hover text-center">
                <tr>
                  <th scope="col">Product Name</th>
                  <th scope="col">Product Cost</th>
                  <th scope="col">Quantity</th>
                  <th scope="col"> Order Cost</th>

                </tr>
                 {% set orderid.value = row[0].OrderID %}
                 {% set rowCount.value = row[0].OrderID %}<br/>
       {% endif %}
       <tr>
    <td>{{row[2].ProductName}}</td>
    <td>${{row[2].UnitPrice}}</td>
    <td>{{row[1].Quantity}}</td>
    <td>${{row[1].Price}}</td>
    </tr>
             <!-- <p><span class="font-weight-bold">Description</span><br/>
              {{row.Description}}
              </p>

              <span class="font-weight-bold">Price:  </span>{{row.UnitPrice}}&nbsp&nbsp<span class="font-weight-bold">Available Quantity:  </span>{{row.AvailableQuantity}}
              -->
           {% if orderid.value != row[0].OrderID %}
           </table>
            </div>
            {% if current_user.is_authenticated %}
            <!-- <button onclick="cancelOrder('{{orderid.value}}')"
                {% if (row[0].OrderStatus=="Cancelled - Refund Initiated") %} class="btn btn-danger float-right danger-button-inactive"
                {% elif (row[0].OrderStatus=="Order_Received") %} class="btn btn-danger float-right danger-button"
                {% else %} class="btn btn-danger float-right secondary-button"
                {% endif %}>Cancel Order</button> -->
			       <button class="btn btn-danger float-right danger-button" onclick="cancelOrder('{{row[0].OrderID}}');">Cancel Order</button>
            {% endif %}

          </div>
        </article>
        {% endif %}

     {% endfor %}
      </table>
            </div>
            {% if current_user.is_authenticated %}
             <button class="btn btn-danger float-right" onclick="cancelOrder('{{orderid.value}}');">Cancel Order</button>
           </div>
         </article>
            {% endif %}




      <form id="orderForm" name="orderForm" action="addtocart"  method="post">

  </form>
  <script>
function cancelOrder(orderid)
{
  document.getElementById("orderForm").action="cancelOrder/"+orderid;
  document.getElementById("orderForm").submit();
}
  </script>
{% endblock content %}
