{% extends "layout.html" %}
{% block content %}
    {% for row in outString %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2 font-weight-bold product-name" href="#">{{row.ProductName}}</a><br/>
              <p><span class="font-weight-bold">Description</span><br/>
                {{row.Description}}
              </p>

              <!-- <span class="font-weight-bold">Price:  </span>{{row.UnitPrice}}&nbsp&nbsp<span class="font-weight-bold">Available Quantity:  </span>{{row.AvailableQuantity}} -->

            </div>
            <span class="font-weight-bold">Price:  </span>${{row.UnitPrice}}&nbsp&nbsp<span class="font-weight-bold">Available Quantity:  </span>{{row.AvailableQuantity}}
            {% if current_user.is_authenticated %}
			       <button class="btn btn-primary float-right primary-button" onclick="orderproduct('{{row.ProductID}}', '{{row.ProductName}}');">Add to Cart</button>
            {% endif %}

          </div>
        </article>
     {% endfor %}
      <form id="orderForm" name="orderForm" action="addtocart"  method="post">

<div class="modal" id="myModal3" role="dialog" style="background-color:rgba(0, 0, 0, 0.75); ">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 70% !important; ">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title float-left">Order Product - <span id="productNameTitle"></span></h4>
          <button type="button" class="close" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body">
           <br/>
              <div class="col-sm-12">
                <div class=" col-sm-12">
                  <div class="form-row" >
                    <!-- <div class="form-group col-md-2"> </div>  -->
                    <div class="form-group col-md-6">
                      <label for="quantity">Quantity</label>
                      <input type="text" class="form-control" id="quantity" name="quantity"  style="height:35px">
                    </div>
                  </div>
                </div>
                <input type="hidden" id="productIdOrder" name="productIdOrder" value=""/>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary primary-button" id="orderProductSubmitButton" name="orderProductSubmitButton" onclick="orderProductFinal();">Add to Cart</button>
          <button type="button" class="btn btn-grey" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  </form>

  <script>
    function orderproduct(id, Name)
    {
      document.getElementById("productIdOrder").value = id;
      document.getElementById("productNameTitle").innerHTML=Name;
      $(document).ready(function(){



     $("#myModal3").modal({backdrop: false});

});
    }

    function orderProductFinal()
{

  document.getElementById("orderForm").submit();
}
  </script>
{% endblock content %}
