{% extends "layout.html" %}
{% block content %}

{% if outString %}
 <article class="media content-section">
          <div class="media-body">
            <span class="mr-2 font-weight-bold"> Products in cart</span>
            <br/>

<table class="table table-striped table-hover text-center cart-table">
  <tr>
  <th scope="col">Product Name</th>
  <th scope="col">Price</th>
  <th scope="col">Quantity</th>
  <th scope="col">Total</th>
  <th scope="col">Action</th>
</tr>
{% for row in outString %}
  <tr >
    <td>{{row[2].ProductName}}</td>
    <td>${{row[2].UnitPrice}}</td>
    <td>{{row[1].Quantity}}</td>
    <td>${{row[1].Price}}</td>
    <td><button type="button" class="btn btn-sm btn-danger danger-button" onclick="removeitem('{{row[0].OrderID}}','{{row[2].ProductID}}')"">Remove From Cart</button></td>
  </tr>
{% endfor %}
</table>
<div class="float-right font-weight-bold">
Total Cost of the Order : ${{total}}
</div>
</div>
</article>
<br/>
<article class="media content-section">
          <div class="media-body">
            <span class="mr-2 font-weight-bold">Shipping Address</span>
            <br/>
            <form method="POST" action="submitOrder">
              <fieldset>
            <input id="orderid" name="orderid" type="hidden" value="{{orderid}}">
             <div class="form-group">
                    {{ form.address1.label(class="form-control-label") }}

                    {% if form.address1.errors %}
                        {{ form.address1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.address1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.address1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                 <div class="form-group">
                    {{ form.address2.label(class="form-control-label") }}

                    {% if form.address2.errors %}
                        {{ form.address2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.address2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.address2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                 <div class="form-group">
                    {{ form.city.label(class="form-control-label") }}

                    {% if form.city.errors %}
                        {{ form.city(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.city.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.city(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                 <div class="form-group">
                    {{ form.state.label(class="form-control-label") }}

                    {% if form.state.errors %}
                        {{ form.state(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.state.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.state(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                 <div class="form-group">
                    {{ form.zip.label(class="form-control-label") }}

                    {% if form.zip.errors %}
                        {{ form.zip(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.state.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.zip(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary float-right primary-button") }}
            </div>

             </form>
           </div>
</article>
{% else %}
  <div class="alert empty-alert">
    <strong>Your cart is empty!</strong> Return to homepage to browse products.
  </div>
 {% endif %}
      <form id="orderForm" name="orderForm" action="addtocart"  method="post">

<div class="modal" id="myModal3" role="dialog" style="background-color:rgba(0, 0, 0, 0.75); ">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 70% !important; ">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title float-left">Order Product - <span id="productNameTitle"></span></h4>
          <button type="button" class="close" data-dismiss="modal">X</button>

        </div>
        <div class="modal-body">

           <br/>
                <div class="col-sm-12">


<div class=" col-sm-12">
 <div class="form-row" >
   <!-- <div class="form-group col-md-2"> </div>  -->

     <div class="  form-group col-md-6">
      <label for="quantity" >Quantity</label>

        <input type="text" class="form-control" id="quantity" name="quantity"  style="height:35px">

    </div>



  </div>
</div>
 <input type="hidden" id="productIdOrder" name="productIdOrder" value=""/>


    </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="orderProductSubmitButton" name="orderProductSubmitButton" onclick="orderProductFinal();">Add to Cart</button>
          <button type="button" class="btn btn-grey" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  </form>
  <script>
    function orderproduct(id, Name)
    {
      document.getElementById("productIdOrder").value = id;
      document.getElementById("productNameTitle").innerHTML=Name;
      $(document).ready(function(){



     $("#myModal3").modal({backdrop: false});

});
    }

    function orderProductFinal()
{

  document.getElementById("orderForm").submit();
}

function removeitem(orderid, productid)
{
  alert(orderid+" - "+productid);
  document.getElementById("orderForm").action="removefromcart/"+orderid+"/"+productid;
   document.getElementById("orderForm").submit();

}
  </script>
}
{% endblock content %}
